db/wallet_oro.zip
.conda
models

*.pyc

#Pycache
app/__pycache__/
app/routes/__pycache__/
app/services/__pycache__/
app/database/__pycache__/
app/models/__pycache__/
app/utils/__pycache__/
app/tests/__pycache__/
app/tests/test_app.py
app/tests/test_database.py
app/tests/test_routes.py
app/tests/test_services.py
app/tests/test_models.py
app/tests/test_utils.py