
Bucket structure
--data/
------image1.geotiff
------image2.geotiff
------image3.geotiff
--detections/
------20251015102440_image1/
-----------image1_x1y1_x2y2.png
----------- .....



Endpoints:

/upload-image # upload geotiff image in data/

/list-images # returns id list images from the Bucket (data/)

CREATE REPORT: /report(image_name, report_name, model_id, confidence, author, rules, area_of_interest) # includes rules, -> generates report

/reports # get reports

/reports/compare(report_id1, report_id2) # returns comparison/pdf

/notifications # Server-Sent Events (SSE) # event: report_id: 3, content: "3 planes discovered"


/ruleset #POST, GET, DELETE

/classes # All potential objects with object id

/models # Detection models (model_id, model_name)



Ruleset example
{
        rulesetId: 1,
        rulesetName: "City Reconnaisance",
        description:
            "Policy for civilian city reconnaissance and adjacent missions",
        userGroups: ["francesco@company.com", "claudia@comany.com"],
        conditions: [
            {
                object_name: "Large Vehicles",
                condition: "more than",
                count: 20,
                //logical_operator?: 'AND' || 'OR' - never appears on first object
            },
            {
                object_id: 2,
                object_name: "Civilian cars",
                condition: "less than",
                count: 5,
                logical_operator: "AND",
            },
            {
                object_id: 3,
                object_name: "Aircrafts",
                condition: "more than", //[more than, less than] future impl: object disappears, object appears]
                count: 3,
                logical_operator: "OR",
            },
        ],
        author: "Wilhelm Matuszewski",
        date: "02/09/2025",
}