
Bucket structure
--data/
------image1.geotiff
------image2.geotiff
------image3.geotiff
--detections/
------20251015102440_image1/
-----------image1_x1y1_x2y2.png
----------- .....



Endpoints:

/upload-image # upload geotiff image in data/

/list-images # returns id list images from the Bucket (data/)

/detect(image_name, report_name, model_id, confidence, author, rules) # includes rules, -> generates report

/reports # get reports

/reports/compare(report_id1, report_id2) # returns comparison/pdf

/notifications # Server-Sent Events (SSE) # event: report_id: 3, content: "3 planes discovered"


/ruleset #POST, GET, DELETE

/classes # All potential objects with object id

/models # Detection models (model_id, model_name)
